<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- 스타일 -->
    <link rel="stylesheet" type="text/css" href="/assets/css/html5_reset.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/layout.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/utill.css">

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/jquery.bxslider.js"></script>
    <script src="/assets/js/jquery.tabify.js"></script>
    <script src="/assets/js/script.js"></script>
    <script src="/assets/js/common.js"></script>
    <script src="/assets/js/jquery.form.min.js"></script>
    <!-- script -->

</head>

<body class="has-js" style="">
    <th:block th:replace="fragments/header :: headerFragment"></th:block>

    <div class="sub_top sub_top1">
        <div class="ment">
            <h2>Car Brand</h2>
            <p>A1 auto</p>
        </div>
    </div>

    <div class="container">
        <a href="tel:1899-5875" class="btn_inqury_quick1"><img src="/assets/images/Q_menu.png" alt="빠른견적문의" /></a>
	<a href="sub6.html" class="btn_inqury_quick"><img src="/assets/images/btn_inqury_m.png" alt="빠른견적문의" /></a>
		
		<div class="sub_cont w100">
			<h3 class="tit_sub_n bar">A1 auto Premium Multi Shop</h3>
			<p class="txt_c bold center bold">더이상 저렴한 쿠폰썬팅은 그만!</p>
			<div class="wrap_service">
				<div class="section section1">
					<div class="tit_sub_s">
						<div class="wrap">	
							<p>고객님의소중한차량에 </p>
							<span>프리미엄 제품을 정성껏 시공해 드립니다.</span>
						</div>
					</div>
					
					<div class="inner">
						<ul class="slider_s">
							<li>
								<div class="img">
									<img src="/assets/images/img_sub_6_2_1_c.jpg" alt="">
								</div>
							</li>
							<li>
								<div class="img">
									<img src="/assets/images/img_sub_6_2_2_c.jpg" alt="">
								</div>
							</li>
							<li>
								<div class="img">
									<img src="/assets/images/img_sub_6_2_3_c.jpg" alt="">
								</div>
							</li>
							<li>
								<div class="img">
									<img src="/assets/images/img_sub_6_2_4_c.jpg" alt="">
								</div>
							</li>
							<li>
								<div class="img">
									<img src="/assets/images/img_sub_6_2_5_c.jpg" alt="">
								</div>
							</li>
                            <li>
								<div class="img">
									<img src="/assets/images/img_sub_6_2_6_c.jpg" alt="">
								</div>
							</li>
                            <li>
								<div class="img">
									<img src="/assets/images/img_sub_6_2_7_c.jpg" alt="">
								</div>
							</li>
                            
                            <li>
								<div class="img">
									<img src="/assets/images/img_sub_6_2_9_c.jpg" alt="">
								</div>
							</li>


						</ul>
					</div>
					<script type="text/javascript">

if(!navigator.userAgent.match(/Android|Mobile|iP(hone|od|ad)|BlackBerry|IEMobile|Kindle|NetFront|Silk-Accelerated|(hpw|web)OS|Fennec|Minimo|Opera M(obi|ini)|Blazer|Dolfin|Dolphin|Skyfire|Zune/)){
$('.slider_s').bxSlider({
								auto: true,
								autoStart: true,
								minSlides: 3,
								maxSlides: 3,
								slideWidth: 380,
								slideMargin: 30,
								moveSlides: 1,
								speed: 700,
								pager: false,
								controls: true,
							});

}
						

if(navigator.userAgent.match(/Android|Mobile|iP(hone|od|ad)|BlackBerry|IEMobile|Kindle|NetFront|Silk-Accelerated|(hpw|web)OS|Fennec|Minimo|Opera M(obi|ini)|Blazer|Dolfin|Dolphin|Skyfire|Zune/)){

$('.slider_s').bxSlider({
auto: true,
		autoStart: true,
		speed: 700,
		pager: false,
		controls: true,
								touchEnabled : (navigator.maxTouchPoints > 0)
							});

}

						</script>

				</div>
				<div class="section section2">
					<div class="tit">
<!--						<p class="txt1">더이상 저렴한 쿠폰썬팅은 그만!</p>      -->
						<strong>내차팔기 서비스</strong>
						<p class="txt2">
에이원오토는 전국 중고차 업체와 제휴를 통해서 고객님의 타시던 <br class="pc">
차량을 최대금액으로 매입, 처리해드릴것을 약속드립니다.

						</p>
					</div>
					<div class="img">
						<img src="/assets/images/bar_tit_sub_6_2_2.png" alt="" class="">
					</div>

				</div>
				

			
			</div>
			<!-- //wrap_about -->
		</div>
        <!-- //sub_cont -->
    </div>
    <!-- //container -->
    <th:block th:replace="fragments/footer :: footerFragment"></th:block>
</body>

</html>