<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/assets/css/admin-login.css" />
    <script>


        $(function(){
            $(document).bind("keydown", function(e) {
                if ((window.event && event.keyCode === 13) || (e.keyCode === 13)) {
                    form_check();
                }
            });
        });
        $(function(){
            $('.ePasswordClick').click(function(){
                var passwordInput = $(this).parent().find('.typePassword');
                if ( passwordInput.attr('type') ==="password" ) {
                    passwordInput.attr('type', 'text');
                    $(this).removeClass("off").addClass("on");
                } else {
                    passwordInput.attr('type', 'password');
                    $(this).removeClass("on").addClass("off");
                }
            })
        });

    </script>
</head>


<body>
    <div id="wrap">
        <header id="header">
            <h1 class="logo">
                <a href="/admin/" title="관리자 바로가기">로고</a>
            </h1>
        </header>

        <div id="container">
            <section id="contents">

                <div class="mFormBox">
                    <div class="column">
                        <strong class="title">아이디</strong>
                        <div class="gridPosition">
                            <input type="text" class="fText suffix" placeholder="아이디를 입력해 주세요." title="아이디"
                                name="mall_id" id="mall_id" value="" tabindex="1" maxlength="20">
                        </div>
                    </div>
                    <div class="column">
                        <span class="title">비밀번호</span>
                        <div class="gridPosition">
                            <input type="password" class="fText typePassword" placeholder="비밀번호를 입력해 주세요."
                                title="비밀번호" name="userpasswd" id="userpasswd" tabindex="3" maxlength="20">
                            <button type="button" class="btnView ePasswordClick off">현시하다</button>
                        </div>
                    </div>
                    <p id="normal_msg" class="message txtWarn typeLeft" style="display:none;">아이디 또는 비밀번호를
                        확인해주세요.</p><!-- 참고: 오류 -->
    
            
                    <div class="mButton">
                        <button type="button" class="btnStrong large" tabindex="5" onclick="form_check();">로그인</button>
                    </div>
                    <!--div class="mUtility">
                        <span class="gLeft"><span clas="RPB">아직 회원이 아니신가요? &nbsp;</span><a
                                href="https://user.cafe24.com/kr/join/ec/?action=joinForm" class="txtEmLink"
                                target="_blank">회원가입</a></span>
                        <span class="gRight">
                            <a href="https://user.cafe24.com/user/echosting/idsearch/" class="txtLink"
                                target="_blank">아이디/비밀번호 찾기</a>
                        </span>
                    </div-->
                </div>
            </section>

        </div>
    </div>
</body>

</html>