<!doctype html>    
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"></html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- 스타일 -->
    <link rel="stylesheet" type="text/css" href="/assets/css/html5_reset.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/board.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/layout.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/utill.css">

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/jquery-latest.min.js"></script>
    <script src="/assets/js/jquery.bxslider.js"></script>
    <script src="/assets/js/jquery.tabify.js"></script>
    <script src="/assets/js/script.js"></script>
    <!-- script -->
</head>

<body class="has-js" style="">
    <th:block th:replace="fragments/header :: headerFragment"></th:block>

    <div class="blind">
        <a href="/">본문 바로가기</a>
    </div>

    <div class="sub_top magazine">
        <div class="ment">
            <h2>A1 auto Magazine</h2>
            <p>A1 auto</p>
        </div>
    </div>

    <div class="container">
        <div class="sub_cont">
            <h3 class="tit_sub_n">
                Magazine
            </h3>
            <p class="txt_c center">에이원오토에 대한 모든 것을 알려드립니다.</p>
            <div class="wrap_tab_sub">
                <div class="tab_sub">
                    <ul>
                        <li class="active"><a href="/board?category=출고후기">출고후기</a></li>
                        <li><a href="/board?category=에이원오토소식">에이원오토소식</a></li>
                        <li><a href="/board?category=신차뉴스">신차뉴스</a></li>
                    </ul>
                </div>
            </div>

            <div class="wrap_magazine">
                <div class="inner">
                    <div>
                        <div>
                            총 건수 : <span th:text="${list.TotalElements}">15</span>
                        </div>

                        <span th:if="${list.TotalElements < 1 }">데이터가 없습니다.</span>

                        <div th:each="board : ${list}">
                            <div class="card">
                                <!-- 대표 이미지 -->
                                <div style="width:16rem;">
                                    <img class="card-img-top" th:src="@{${board.getImgPath()}}" alt=""  height="225px;" width="225px;"/>
                                </div>
                                
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <h5 class="fw-bolder" th:text="${board.getTitle}">제목</h5>
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" th:href="@{/board/detail-board/?id={id}(id=${board.getId()})}"></a></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div th:if="${list.TotalElements > 0}">
                    <ul class="pagination justify-content-center">
                        <!-- 이전 페이지  -->
                        <li th:classappend="${startPage < list.pageable.pageSize} ? 'disabled'">
                            <a class="page-link" th:href="@{/board/board-list(page=${startPage - list.pageable.pageSize-1})}" tabindex="-1" aria-disabled="true">Previous </a>
                        </li>
                        <!-- 페이지 10개 -->
                        <li th:classappend="${i == list.pageable.pageNumber+1} ? 'disabled'" th:each="i : ${#numbers.sequence(startPage, endPage)}">
                            <a class="page-link" th:href="@{/board/board-list(page=${i-1})}" th:text="${i}">1</a>
                        </li>
                        <!-- 다음 페이지 -->
                        <li th:classappend="${startPage + list.pageable.pageSize >  list.totalPages } ? 'disabled'">
                            <a class="page-link" th:href="@{/board/board-list(page=${startPage + list.pageable.pageSize -1 })}">Next</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>

    <th:block th:replace="fragments/footer :: footerFragment"></th:block>
</body>

</html>