<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<body>
    <!-- nav bar -->
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
                    <path fill-rule="evenodd"
                        d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
                </svg>
            </a>

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/carbrand" class="nav-link px-2 link-secondary">Car Brand</a></li>
                <li><a href="/board" class="nav-link px-2 link-dark">sample auto Magazine</a></li>
                <li><a href="/service" class="nav-link px-2 link-dark">sample auto Service</a></li>
                <li><a href="/about" class="nav-link px-2 link-dark">About us</a></li>
            </ul>
        </header>
    </div>
    
    <!-- 검색 영역 -->
    <div>
        <form method="get">
            <div class="input-group mb-3">
                <input type="text" class="form-control" aria-label="검색" name="searchString"
                    th:placeholder="${searchString}" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">검색</button>
                </div>
            </div>
        </form>
    </div>

    <div>
        <div>
            총 건수 : <span th:text="${list.TotalElements}">15</span>
        </div>

        <span th:if="${list.TotalElements < 1 }">데이터가 없습니다.</span>

        <table th:if="${list.TotalElements > 0 }" class="table table-hover">

            <thead class="thead-dark">
                <tr>
                    <th>번호</th>
                    <th>아이디</th>
                    <th>제목</th>
                    <th>작성일</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each=" row : ${list}" th:onclick="'javascript: detail('+ ${row.id}+')'">
                    <td th:text="${row.id}">번호</td>
                    <td th:text="${row.userid}">아이디</td>
                    <td th:text="${row.Title}"> 제목</td>
                    <td th:text="${#temporals.format(row.create_date_time,'yyyy-MM-dd')}">작성일</td>
            </tbody>
            </tr>
        </table>
    </div>


    <div class="Board-pagination" th:if="${list.TotalElements > 0}">
        <ul class="pagination justify-content-center">

            <!-- 이전 페이지  -->
            <li class="page-item " th:classappend="${startPage < list.pageable.pageSize} ? 'disabled'">
                <a class="page-link"
                    th:href="@{/board/board-list(page=${startPage - list.pageable.pageSize-1}, searchString=${param.searchString})}"
                    tabindex="-1" aria-disabled="true">이전 페이지</a>
            </li>

            <!-- 페이지 10개 -->
            <li class="page-item" th:classappend="${i == list.pageable.pageNumber+1} ? 'disabled'"
                th:each="i : ${#numbers.sequence(startPage, endPage)}"><a class="page-link"
                    th:href="@{/board/board-list(page=${i-1}, searchString=${param.searchString})}"
                    th:text="${i}">1</a>
            </li>


            <!-- 다음 페이지 -->
            <li class="page-item "
                th:classappend="${startPage + list.pageable.pageSize >  list.totalPages } ? 'disabled'">
                <a class="page-link"
                    th:href="@{/board/board-list(page=${startPage + list.pageable.pageSize -1 }, searchString=${param.searchString})}">다음 페이지</a>
            </li>


        </ul>
    </div>
</body>
</html>