<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<!--footerFragment 선언-->
<div th:fragment="footerFragment">
    <div class="menu_tail">
        <div class="inner">
            <ul>

                <li><a href="http://a1auto.co.kr/#" class="popup-trigger1">이용약관</a></li>
                <li><a href="http://a1auto.co.kr/#" class="popup-trigger2">개인정보취급방침</a></li>
            </ul>
        </div>
    </div>
    <div class="wrap_footer">
        <div class="footer">
            <h1><img src="./assets/images/logo.png" alt=""></h1>
            <div class="sns_b">
                <ul>
                    <li><a href="https://www.facebook.com/checkpoint/1501092823525282/?next=https%3A%2F%2Fwww.facebook.com%2F"
                            target="_blank"><img src="./assets/images/f.png" alt="페이스북"></a></li>
                    <li><a href="https://www.instagram.com/_a1_auto" target="_blank"><img
                                src="./assets/images/i.png" alt="인스타"></a></li>
                    <li><a href="http://pf.kakao.com/_xdEMgxb" target="_blank"><img src="./assets/images/k.png"
                                alt="카카오"></a></li>
                    <li><a href="https://blog.naver.com/tjqorfh12" target="_blank"><img src="./assets/images/b.png"
                                alt="블로그"></a></li>
                </ul>
            </div>
            <p class="address">
                경기 의정부시 민락로392 로얄프라자3층 / 대표: 서백로 / 사업자등록번호: 752-81-01579 <br>
                통신판매신고번호 : 제2021-의정부송산-0457호 <br>
                TEL: 1899-5875 / FAX: 0504-343-6797 / Email: a1auto1@naver.com <br>
            </p>
            <div class="custom_b">
                <p class="txt1">고객센터</p>
                <p class="txt2">1899-5875</p>
                <ul>
                    <li><a href="http://a1auto.co.kr/"><img src="./assets/images/icon_sns_tail_1.png"
                                alt="페이스북"></a></li>
                    <li><a href="http://a1auto.co.kr/"><img src="./assets/images/icon_sns_tail_2.png" alt="트위터"></a>
                    </li>
                </ul>
            </div>
            <p class="copy">Copyright A1AUTO Corp. All rights reserved. </p>
        </div>
    </div>
    <!-- //wrap_footer -->

    <div class="btn_inqury_quick_m">
        <ul>
            <li>
                <a href="tel:1899-5875" class=""><img src="./assets/images/m_qmenu2.png" alt="빠른견적문의"></a>
            </li>
            <li>
                <img src="./assets/images/m_qmenu.png" alt="빠른견적문의">
            </li>
        </ul>
    </div>

    <div class="m_form_wrap" style="display: none;">
        <ul>
            <li>
                <div>
                    <span class="customClose">▼</span>
                    <form name="form" id="form" method="post">
                        <input type="hidden" name="flag" id="flag" value="save">
                        <input type="hidden" name="link_url" id="link_url" value="a1auto.co.kr/">
                        <div class="form_in">
                            <ul class="form_in_ul">
                                <li class="tt">
                                    <p>빠른 견적문의</p>
                                </li>
                                <li class="inputArea">
                                    <div style="width:30%;"><input class="fr_name" type="text" name="write_name"
                                            placeholder="이름"></div>
                                    <div style="width:70%;">
                                        <input class="fr_num" type="text" name="tel" id="tel"
                                            placeholder="연락처(- 제외)" maxlength="11"
                                            oninput="this.value = this.value.replace(/[^0-9.]/g, &#39;&#39;).replace(/(\..*)\./g, &#39;$1&#39;);">
                                    </div>
                                </li>
                                <li class="inputArea">
                                    <div style="width:50%;">
                                        <select name="owner_gubun">
                                            <option selected="" value="">유형</option>
                                            <option value="1">개인</option>
                                            <option value="2">개인사업자</option>
                                            <option value="3">법인사업자</option>
                                        </select>
                                    </div>
                                    <div style="width:50%;">
                                        <select name="buy_method" id="">
                                            <option value="">구매방식</option>
                                            <option value="리스">리스</option>
                                            <option value="장기렌트">장기렌트</option>
                                            <option value="기타">기타</option>
                                        </select>
                                    </div>
                                </li>
                                <li class="inputArea">
                                    <div style="width:33.3334%;">
                                        <select name="buy_time" id="buy_time" required="">
                                            <option value="" selected="">선택</option>
                                            <option value="조건맞을시 즉시구입">조건맞을시 즉시구입</option>
                                            <option value="1주일이내 구입">1주일이내 구입</option>
                                            <option value="1개월 이내 구입">1개월 이내 구입</option>
                                            <option value="3개월 이내 구입">3개월 이내 구입</option>
                                        </select>
                                    </div>
                                    <div style="width:33.3334%; padding:0 2.5%;">
                                        <select class="input_style2" name="brand_code" id="brand_code" required=""
                                            onchange="mobile_model_load()">
                                            <option value="" selected="">제조사 선택</option>
                                            <option value="1">현대</option>
                                            <option value="2">기아</option>
                                            <option value="4">쉐보레</option>
                                            <option value="5">쌍용</option>
                                            <option value="3">르노삼성</option>
                                            <option value="34">벤츠</option>
                                            <option value="15">BMW</option>
                                            <option value="38">아우디</option>
                                            <option value="26">폭스바겐</option>
                                            <option value="13">미니</option>
                                            <option value="41">볼보</option>
                                            <option value="27">재규어</option>
                                            <option value="43">랜드로버</option>
                                            <option value="25">포르쉐</option>
                                            <option value="31">페라리</option>
                                            <option value="17">람보르기니</option>
                                            <option value="37">마세라티</option>
                                            <option value="36">푸조</option>
                                            <option value="19">시트로엥</option>
                                            <option value="29">DS</option>
                                            <option value="20">벤틀리</option>
                                            <option value="11">롤스로이스</option>
                                            <option value="40">토요타</option>
                                            <option value="23">렉서스</option>
                                            <option value="24">닛산</option>
                                            <option value="22">인피니티</option>
                                            <option value="33">혼다</option>
                                            <option value="35">포드</option>
                                            <option value="42">링컨</option>
                                            <option value="14">지프</option>
                                            <option value="28">캐딜락</option>
                                            <option value="18">테슬라</option>
                                            <option value="16">이베코</option>
                                            <option value="6">카인드</option>
                                            <option value="7">캠시스</option>
                                            <option value="8">대창모터스</option>
                                            <option value="9">자일대우</option>
                                            <option value="10">SMART EV</option>
                                            <option value="39">동풍</option>
                                            <option value="12">맥라렌</option>
                                            <option value="21">애스턴마틴</option>
                                            <option value="30">북기은상</option>
                                            <option value="32">로터스</option>
                                            <option value="44">이스즈</option>
                                        </select>
                                    </div>
                                    <div style="width:33.3334%;">
                                        <select class="input_style2" name="model_code" id="model_code" required="">
                                            <option value="" selected="">모델명 선택</option>
                                        </select>
                                    </div>
                                </li>
                                <li class="inputArea">
                                    <textarea style="width:100%;" name="content" maxlength="1000"
                                        placeholder="문의내용"></textarea>
                                </li>
                                <li class="inputArea">
                                    <div><span>개인정보취급방침</span> <span class="privacy_view popup-trigger2">약관보기</span>
                                    </div>
                                    <div>
                                        <input type="radio" id="m_privacy_y" name="privacy"> <label
                                            class="radio_chk" for="m_privacy_y"><span></span></label> <label
                                            for="m_privacy_y">동의</label>
                                        <input type="radio" id="m_privacy_n" name="privacy"> <label
                                            class="radio_chk" for="m_privacy_n"><span></span></label> <label
                                            for="m_privacy_n">비동의</label>
                                    </div>
                                </li>
                                <li class="inputArea">
                                    <button type="button" onclick="mobile_form_chk()">견적문의 하기</button>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
            </li>
        </ul>
    </div>

    <script>

    </script>

</div>

<!-- //wrap -->
<div class="privacy-policy privacy-policy1">
    <div class="policy-wrapper">
        <button class="close-popup">X</button>
        <h4>A1 auto 개인정보취급방침</h4>
        <div class="policy">A1 auto 홈페이지는 온라인상에서 귀하의 개인정보보호를 소중히 생각합니다.

            [개인정보보호정책] <br>
            A1 auto 홈페이지는 이용하는 회원님들의 권익을 보호하여 사용자들이 안심하고 서비스를 받을 수 있도록 준수합니다. <br><br>

            [개인정보의 수집목적 및 방법] <br>
            A1 auto 홈페이지는 “개인정보보호법’등 관계법령 및 트라이앵글의 개인정보처리방침에서 정하는 바에 따라 회원의 개인정보를 보호하며 트라이앵글는 개인정보를 개인의 동의 없이 수집하지
            않습니다.
            <br><br>
            트라이앵글의 개인정보보호정책 또는 이용용약관의 내용에 대해 「동의함」,「동의 안함」으로 선택하는 절차를 마련하여 「동의함」선택하면 개인정보수집에 대해 동의한 것으로 봅니다.
            <br><br>

            [회원 이용 범위] <br>
            A1 auto 홈페이지에 접속하여 이 약관에 동의하고, 회원이 A1 auto 홈페이지에 연계된 주요 홈페이지의 이용을 원할 경우 홈페이지의 이용여부를 승낙하는 것만으로 별도의 가입없이
            해당 홈페이지를 이용할 수 있습니다.
        </div>
    </div>
</div>
<div class="privacy-policy privacy-policy2">
    <div class="policy-wrapper">
        <button class="close-popup">X</button>
        <h4>A1 auto 개인정보취급방침</h4>
        <div class="policy"> A1 auto은(는) 이용자들의 개인정보보호를 매우 중요시하며, 이용자가 회사의 서비스를이용함과 동시에 온라인상에서 회사에 제공한 개인정보가 보호 받을 수
            있도록 최선을 다하고있습니다. 이에 회사는 통신비밀보호법, 전기통신사업법, 정보통신망 이용촉진 및 정보보호 등에관한 법률 등 정보통신서비스제공자가 준수하여야 할 관련 법규상의 개인정보보호
            규정 및정보통신부가 제정한 개인정보보호지침을 준수하고 있습니다. 회사는 개인정보 취급방침을 통하여이용자들이 제공하는 개인정보가 어떠한 용도와 방식으로 이용되고 있으며 개인정보보호를
            위해어떠한 조치가 취해지고 있는지 알려 드립니다<br>
            <br>
            <br>
            회사는 개정된 정보통신망법 제22조 1항, 제24조의2 제1항, 제25조 1항의 내용을 통해 A1 auto의 이용자들이 제공하는 개인정보가 어떠한 용도와 방식으로 이용되고 있으며
            개인정보보호를 위해 어떠한 조치가 취해지고 있는지 알려드리고, 동의를 받기위해 아래 고지합니다.<br>
            자세히 읽어보시고 동의 여부를 선택하여 주시기 바랍니다.<br>
            <br>
            <br>
            1. 개인정보의 수집목적 및 이용목적 <br>
            <br>
            <br>
            "개인정보"라 함은 생존하는 개인에 관한 정보로서 당해 정보에 포함되어 있는 성명, 연락처등의 사항에 의하여 당해 개인을 식별할 수 있는 정보(당해 정보만으로는 특정 개인을 식별할
            수없더라도 다른 정보와 용이하게 결합하여 식별할 수 있는 것을 포함)를 말합니다.<br>
            <br>
            <br>
            대부분의 A1 auto 서비스는 별도의 사용자 등록이 없이 언제든지 사용할 수 있습니다. 회사는 상담서비스를 통하여 이용자들에게 맞춤식 서비스를 비롯한 보다 더 향상된 양질의 서비스를
            제공하기 위하여 이용자 개인의 정보를 수집하고 있습니다.<br>
            <br>
            <br>
            회사는 이용자의 사전 동의 없이는 이용자의 개인 정보를 공개하지 않으며, 수집된 정보는 아래와 같이 이용하고 있습니다.<br>
            <br>
            <br>
            첫째, 이용자들이 제공한 개인정보를 바탕으로 보다 더 유용한 서비스를 개발할 수 있습니다.<br>
            회사는 신규 서비스개발이나 컨텐츠의 확충 시에 기존 이용자들이 회사에 제공한 개인정보를 바탕으로 개발해야 할 서비스의 우선 순위를 보다 더 효율적으로 정하고, 회사는 이용자들이 필요로 할
            컨텐츠를 합리적으로 선택하여 제공할 수 있습니다.<br>
            <br>
            <br>
            둘째, 수집하는 개인정보 항목과 수집 및 이용목적은 다음과 같습니다.<br>
            -성명 , 이메일주소, 휴대폰번호 : 상담 서비스 이용에 따른 본인 확인 절차에 이용<br>
            -기타 선택항목 : 개인맞춤 서비스를 제공하기 위한 자료 <br>
            -IP Address, : 불량회원의 부정 이용 방지와 비인가 사용 방지<br>
            <br>
            <br>
            2. 수집하는 개인정보 항목 및 수집방법 <br>
            <br>
            <br>
            회사는 이용자들이 상담서비스를 이용하기 위해 상담요청을 등록할 때 필수적인 정보들을 온라인상에서 입력 받고 있습니다. 상담입력할 때 필수적인 정보는 이름, 연락처, 이메일 주소 등입니다.
            또한 양질의 서비스 제공을 위하여 이용자들이 선택적으로 입력할 수 있는 사항으로서 상담내용 등을 입력 받고 있습니다.<br>
            <br>
            <br>
            3. 수집하는 개인정보의 보유 및 이용기간 <br>
            <br>
            <br>
            이용자가 상담 서비스를 이용하는 동안 회사는 이용자들의 개인정보를계속적으로 보유하며 서비스 제공 등을 위해 이용합니다. 다만, 아래의 "6. 이용자 자신의 개인정보 관리(열람,정정,삭제
            등)에 관한 사항" 에서 설명한 절차와 방법에 따라 회원 본인이 직접 삭제하거나 수정한 정보, 가입해지를 요청한 경우에는 재생할 수 없는 방법에 의하여 디스크에서 완전히 삭제하며 추후
            열람이나 이용이 불가능한 상태로 처리됩니다.<br>
            <br>
            <br>
            그리고 "2. 수집하는 개인정보 항목 및 수집방법"에서와 같이 일시적인 목적 (설문조사, 이벤트, 본인확인 등)으로 입력 받은 개인정보는 그 목적이 달성된 이후에는 동일한 방법으로 사후
            재생이 불가능한 상태로 처리됩니다.<br>
            <br>
            <br>
            귀하의 개인정보는 다음과 같이 개인정보의 수집목적 또는 제공받은 목적이 달성되면 파기하는 것을 원칙으로 합니다. 다만, 회사는 불량 상담의 부정한 이용의 재발을 방지하기 위해, 이용계약
            해지일로부터 1년간 해당 상담고객의 연락처,이메일주소를 보유할 수 있습니다. <br>
            <br>
            <br>
            - 계약 또는 청약철회 등에 관한 기록 : 5년<br>
            - 대금결제 및 재화 등의 공급에 관한 기록 : 5년<br>
            - 소비자의 불만 또는 분쟁처리에 관한 기록 : 3년 <br>
            <br>
            <br>
            회사는 귀중한 회원의 개인정보를 안전하게 처리하며, 유출의 방지를 위하여 다음과 같은 방법을 통하여 개인정보를 파기합니다. <br>
            <br>
            <br>
            - 종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각을 통하여 파기합니다.<br>
            - 전자적 파일 형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다<br>
            <br>
            <br>
            <br>
            4. 개인정보의 위탁처리 <br>
            A1 auto은(는) 서비스 향상을 위해서 귀하의 개인정보를 어떠한 업체에도 제공하지 않습니다.<br>
            <br>
            - 개인정보의 처리를 위탁하거나 제공하는 경우에는 수탁자, 수탁범위, 공유 정보의 범위 등에 관한 사항을 서면, 전자우편, 전화 또는 홈페이지를 통해 미리 귀하에게 고지합니다. <br>
            <br>

            <br>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('.popup-trigger1').click(function (e) {
        e.preventDefault();
        var height = $(window).height() - 200;
        $('.privacy-policy1').find(".policy").css("max-height", height).end().show();
    });
    $('.popup-trigger2').click(function (e) {
        e.preventDefault();
        var height = $(window).height() - 200;
        $('.privacy-policy2').find(".policy").css("max-height", height).end().show();
    });
    $('.privacy-policy').on('click', function () {
        $('.privacy-policy').hide();
    });
    $(function () {
        var agent = navigator.userAgent.toLowerCase();
        if ((navigator.appName == 'Netscape' && navigator.userAgent.search('Trident') != -1) || (agent.indexOf("msie") != -1)) {
            // $(".section5s").css({"padding":"60px 0px 270px 0"});
        } else {

        }
    });
</script>



<!-- mysection -->

<div class="real_pop rp_0">
    <div>
        <div class="head" onclick="pop_close(0)">
            <i class="fas fa-times" style="font-size: 30px;"></i>
        </div>
        <div class="car_img">
            <img src="./assets/images/209266357.jpg">
        </div>
        <div class="car_info">
            <ul class="con_box">
                <li class="text">
                    <p class="tt">벤츠 출고</p>

                    <p class="ss" style="margin-top: 4px;">황*철 고객님 | 2022-07-07 | 벤츠</p>


                    <p class="ss" style="font-size : 17px; height : 40px; line-height : 40px;"><span><i
                                class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                class="fas fa-star"></i><i class="fas fa-star"></i></span> 5.0</p>

                    <div class="ts">
                        <p>안녕하세요? 유지민과장님<br>이런 에이전시랑은 처음 상담해본거였는데 정말 친절하게 상담해주셔서 감사했습니다~^^<br>날씨도 더운데 건강유의하시고 앞으로도 차
                            많이파세요~^^ 고맙습니다^^</p>
                    </div>

                </li>
            </ul>
        </div>
    </div>
</div>

<div class="real_pop rp_1">
    <div>
        <div class="head" onclick="pop_close(1)">
            <i class="fas fa-times" style="font-size: 30px;"></i>
        </div>
        <div class="car_img">
            <img src="./assets/images/8767290380.jpg">
        </div>
        <div class="car_info">
            <ul class="con_box">
                <li class="text">
                    <p class="tt">제네시스 출고</p>

                    <p class="ss" style="margin-top: 4px;">심*영 고객님 | 2022-07-04 | 제네시스</p>


                    <p class="ss" style="font-size : 17px; height : 40px; line-height : 40px;"><span><i
                                class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                class="fas fa-star"></i><i class="fas fa-star"></i></span> 5.0</p>

                    <div class="ts">
                        <p>차 나왔는데 넘 이쁘네요^^<br>실내색상 고민 많이 했는데 잘선택한 것 같아요^^<br>김동민 팀장님 상담해주셔서 감사합니다^^</p>
                    </div>

                </li>
            </ul>
        </div>
    </div>
</div>

<div class="real_pop rp_2">
    <div>
        <div class="head" onclick="pop_close(2)">
            <i class="fas fa-times" style="font-size: 30px;"></i>
        </div>
        <div class="car_img">
            <img src="./assets/images/2336472654.jpg">
        </div>
        <div class="car_info">
            <ul class="con_box">
                <li class="text">
                    <p class="tt">s580 출고</p>

                    <p class="ss" style="margin-top: 4px;">이*원 고객님 | 2022-07-02 | s580</p>


                    <p class="ss" style="font-size : 17px; height : 40px; line-height : 40px;"><span><i
                                class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                class="fas fa-star"></i><i class="fas fa-star"></i></span> 5.0</p>

                    <div class="ts">유튜브통해 알게되어 서백로 대표님께 연락을 드렸습니다.<br>영상을 보면 진실하게 말씀하시는거같은 느낌을 받았고 휴대폰번호도
                        오픈해놓으셨더군요<br>먼저 상담내용도 만족스럽고 피드백도 빨랐습니다<br>차량도 빨리 잡아주시고 출고하면서 운영하시는 용품점에서 서비스까지 매끄럽게 진행해줘서 아주
                        만족스러운 계약이었습니다.<br><br type="_moz"></div>

                </li>
            </ul>
        </div>
    </div>
</div>

<div class="real_pop rp_3">
    <div>
        <div class="head" onclick="pop_close(3)">
            <i class="fas fa-times" style="font-size: 30px;"></i>
        </div>
        <div class="car_img">
            <img src="./assets/images/8567911670.png">
        </div>
        <div class="car_info">
            <ul class="con_box">
                <li class="text">
                    <p class="tt">벤츠 출고</p>

                    <p class="ss" style="margin-top: 4px;">서+웅 고객님 | 2022-07-05 | 벤츠</p>


                    <p class="ss" style="font-size : 17px; height : 40px; line-height : 40px;"><span><i
                                class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                class="fas fa-star"></i><i class="fas fa-star"></i></span> 5.0</p>

                    <div class="ts">요즘 금리가 비싼데 에이원오토에 문의하니<br>최저금리로 진행해주시고 견적비교도 한눈에 쉽게해주시니까 좋네요<br>견적은 다른곳에서도
                        받아봤지만<br>신경도 잘 써주시고 금리도 제일 저렴한곳으로 추천해주셔서 진행했습니다.<br>벤츠차 출고 많은편이라 하셨었는데<br>그래서 그런지 차량도 빨리
                        받았고요<br>잘 타겠습니다.</div>

                </li>
            </ul>
        </div>
    </div>
</div>

<div class="real_pop rp_4">
    <div>
        <div class="head" onclick="pop_close(4)">
            <i class="fas fa-times" style="font-size: 30px;"></i>
        </div>
        <div class="car_img">
            <img src="./assets/images/2031667004.jpg">
        </div>
        <div class="car_info">
            <ul class="con_box">
                <li class="text">
                    <p class="tt">X5 출고</p>

                    <p class="ss" style="margin-top: 4px;">이*현 고객님 | 2022-06-15 | X5</p>


                    <p class="ss" style="font-size : 17px; height : 40px; line-height : 40px;"><span><i
                                class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                class="fas fa-star"></i><i class="fas fa-star"></i></span> 5.0</p>

                    <div class="ts">타고있던 차량이 곧 만기라 업체 알아보다가 우연히 에이원오토 알게되어서 견적요청 드렸는데 일사천리로 차량 찾아주시고 출고일자도 맞춰주셔서
                        편하네요&nbsp;<br>요즘 차량 귀한데 빨리 받아서 좋고 할인도 많이 해주신 거 같아서 너무 감사합니다^^</div>

                </li>
            </ul>
        </div>
    </div>
</div>

<div class="real_pop rp_5">
    <div>
        <div class="head" onclick="pop_close(5)">
            <i class="fas fa-times" style="font-size: 30px;"></i>
        </div>
        <div class="car_img">
            <img src="./assets/images/3899874831.jpg">
        </div>
        <div class="car_info">
            <ul class="con_box">
                <li class="text">
                    <p class="tt">제네시스 출고</p>

                    <p class="ss" style="margin-top: 4px;">안*규 고객님 | 2022-06-11 | 제네시스 </p>


                    <p class="ss" style="font-size : 17px; height : 40px; line-height : 40px;"><span><i
                                class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                class="fas fa-star"></i><i class="fas fa-star"></i></span> 5.0</p>

                    <div class="ts">
                        <p>에이원오토에 상담받기 전에 정말 비교 많이해봤어요.<br>보증금을 최소화하고싶었는데 제가 원하는 가격으로 최대한 맞춰주셨습니다.<br>다른업체들보다 친절하고
                            전문적으로 상담도 해주시고<br>제 상황에 맞춰서 끝까지 신경써주셔서 잘 출고할 수 있었습니다.<br>장기렌트리스 이쪽으로 노하우가 많은게 느껴졌습니다.
                            너무만족합니다.</p>
                    </div>

                </li>
            </ul>
        </div>
    </div>
</div>

<div class="real_pop rp_6">
    <div>
        <div class="head" onclick="pop_close(6)">
            <i class="fas fa-times" style="font-size: 30px;"></i>
        </div>
        <div class="car_img">
            <img src="./assets/images/768402372.jpg">
        </div>
        <div class="car_info">
            <ul class="con_box">
                <li class="text">
                    <p class="tt">제네시스 출고</p>

                    <p class="ss" style="margin-top: 4px;">심*민 고객님 | 2022-06-10 | 제네시스</p>


                    <p class="ss" style="font-size : 17px; height : 40px; line-height : 40px;"><span><i
                                class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                class="fas fa-star"></i><i class="fas fa-star"></i></span> 5.0</p>

                    <div class="ts">차량 인도 잘 받았습니다 ^^&nbsp;<br>담당해주신 원인재과장님이 믿음이 많이가서 진행했습니다<br>가격도 잘 맞춰주시고 서비스도 잘
                        챙겨주셔서 감사합니다<br>주변에 차량사는사람들 있으면 소개하겠습니다</div>

                </li>
            </ul>
        </div>
    </div>
</div>

<div class="real_pop rp_7">
    <div>
        <div class="head" onclick="pop_close(7)">
            <i class="fas fa-times" style="font-size: 30px;"></i>
        </div>
        <div class="car_img">
            <img src="./assets/images/2169721182.jpg">
        </div>
        <div class="car_info">
            <ul class="con_box">
                <li class="text">
                    <p class="tt">쏘렌토 출고</p>

                    <p class="ss" style="margin-top: 4px;">임*평 고객님 | 2022-06-08 | 쏘렌토</p>


                    <p class="ss" style="font-size : 17px; height : 40px; line-height : 40px;"><span><i
                                class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                class="fas fa-star"></i><i class="fas fa-star"></i></span> 5.0</p>

                    <div class="ts">
                        <p>안녕하세요 이번에 안동에서 쏘렌토HEV 리스출고해서 후기 남깁니다~<br>인터넷으로 검색해서 제가 한 15곳정도 문의한거같은데 에이원오토가 제일 저렴하고
                            견적서도 투명하게 오픈까지 해주셔서 믿고 진행했습니다.<br>워낙 여러곳에 물어본터라 제가 초반에 좀 깐깐하게 굴기도 했는데 워낙 친절하게
                            상담해주시고<br>연락드리면 피드백도 빨리주셔서 좋았습니다~!<br>계약했으니 사후관리도 계약때처럼 신경써주시면 좋겠네요~<br>감사합니다.</p>
                    </div>

                </li>
            </ul>
        </div>
    </div>
</div>

<div class="real_pop rp_8">
    <div>
        <div class="head" onclick="pop_close(8)">
            <i class="fas fa-times" style="font-size: 30px;"></i>
        </div>
        <div class="car_img">
            <img src="./assets/images/4038152550.png">
        </div>
        <div class="car_info">
            <ul class="con_box">
                <li class="text">
                    <p class="tt">벤츠 BMW 제네시스 출고</p>

                    <p class="ss" style="margin-top: 4px;">김*수 고객님 | 2022-06-02 | 벤츠 BMW 제네시스</p>


                    <p class="ss" style="font-size : 17px; height : 40px; line-height : 40px;"><span><i
                                class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                class="fas fa-star"></i><i class="fas fa-star"></i></span> 5.0</p>

                    <div class="ts">사업자리스로 에이원오토에서 3대 한꺼번에 계약해서 어제출고했네요<br>요즘 차가없어서 원하는 옵션이랑 색깔 맞추기 어려웟을텐데<br>계속
                        카톡하면서 찾아준 김주호팀장님 고맙습니다~<br>서비스도 잘넣어주시고 차 찾으러갔는데 가게앞에 세대 주차되어있는거보고 한컷찍었습니다~<br>잘타겠습니다~고맙습니다~
                    </div>

                </li>
            </ul>
        </div>
    </div>
</div>

<div class="real_pop rp_9">
    <div>
        <div class="head" onclick="pop_close(9)">
            <i class="fas fa-times" style="font-size: 30px;"></i>
        </div>
        <div class="car_img">
            <img src="./assets/images/4942449280.jpg">
        </div>
        <div class="car_info">
            <ul class="con_box">
                <li class="text">
                    <p class="tt">BMW 5시리즈 출고</p>

                    <p class="ss" style="margin-top: 4px;">박*원 고객님 | 2022-05-31 | BMW 5시리즈</p>


                    <p class="ss" style="font-size : 17px; height : 40px; line-height : 40px;"><span><i
                                class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                class="fas fa-star"></i><i class="fas fa-star"></i></span> 5.0</p>

                    <div class="ts">
                        <p>리스로 계약해서 차량 받았습니다.<br>제 차라고 생각해서 그런지 몰라도 너무 멋지네요<br>차량용품도 빵빵하게 챙겨주시고 감사합니다.<br>지인 소개할일
                            있으면 또연락드리겠습니다.<br>&nbsp;</p>
                    </div>

                </li>
            </ul>
        </div>
    </div>
</div>




<div class="real_pop_m m_rp_0">
    <div>
        <div class="head" onclick="m_pop_close(0)">
            <i class="fas fa-times" style="font-size: 25px; margin-top: 3px; display: inline-block;"></i>
        </div>
        <div class="car_img">
            <img src="./assets/images/209266357.jpg">
        </div>
        <div class="car_info">
            <ul class="con_box">
                <li class="text">
                    <p class="tt">벤츠 출고</p>

                    <p class="ss" style="margin-top: 4px;">황*철 고객님 | 2022-07-07 | 벤츠</p>


                    <p class="ss" style="font-size : 17px; height : 40px; line-height : 40px;"><span><i
                                class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                class="fas fa-star"></i><i class="fas fa-star"></i></span> 5.0</p>

                    <div class="ts">
                        <p>안녕하세요? 유지민과장님<br>이런 에이전시랑은 처음 상담해본거였는데 정말 친절하게 상담해주셔서 감사했습니다~^^<br>날씨도 더운데 건강유의하시고 앞으로도 차
                            많이파세요~^^ 고맙습니다^^</p>
                    </div>

                </li>
            </ul>
        </div>
    </div>
</div>

<div class="real_pop_m m_rp_1">
    <div>
        <div class="head" onclick="m_pop_close(1)">
            <i class="fas fa-times" style="font-size: 25px; margin-top: 3px; display: inline-block;"></i>
        </div>
        <div class="car_img">
            <img src="./assets/images/8767290380.jpg">
        </div>
        <div class="car_info">
            <ul class="con_box">
                <li class="text">
                    <p class="tt">제네시스 출고</p>

                    <p class="ss" style="margin-top: 4px;">심*영 고객님 | 2022-07-04 | 제네시스</p>


                    <p class="ss" style="font-size : 17px; height : 40px; line-height : 40px;"><span><i
                                class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                class="fas fa-star"></i><i class="fas fa-star"></i></span> 5.0</p>

                    <div class="ts">
                        <p>차 나왔는데 넘 이쁘네요^^<br>실내색상 고민 많이 했는데 잘선택한 것 같아요^^<br>김동민 팀장님 상담해주셔서 감사합니다^^</p>
                    </div>

                </li>
            </ul>
        </div>
    </div>
</div>

<div class="real_pop_m m_rp_2">
    <div>
        <div class="head" onclick="m_pop_close(2)">
            <i class="fas fa-times" style="font-size: 25px; margin-top: 3px; display: inline-block;"></i>
        </div>
        <div class="car_img">
            <img src="./assets/images/2336472654.jpg">
        </div>
        <div class="car_info">
            <ul class="con_box">
                <li class="text">
                    <p class="tt">s580 출고</p>

                    <p class="ss" style="margin-top: 4px;">이*원 고객님 | 2022-07-02 | s580</p>


                    <p class="ss" style="font-size : 17px; height : 40px; line-height : 40px;"><span><i
                                class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                class="fas fa-star"></i><i class="fas fa-star"></i></span> 5.0</p>

                    <div class="ts">유튜브통해 알게되어 서백로 대표님께 연락을 드렸습니다.<br>영상을 보면 진실하게 말씀하시는거같은 느낌을 받았고 휴대폰번호도
                        오픈해놓으셨더군요<br>먼저 상담내용도 만족스럽고 피드백도 빨랐습니다<br>차량도 빨리 잡아주시고 출고하면서 운영하시는 용품점에서 서비스까지 매끄럽게 진행해줘서 아주
                        만족스러운 계약이었습니다.<br><br type="_moz"></div>

                </li>
            </ul>
        </div>
    </div>
</div>

<div class="real_pop_m m_rp_3">
    <div>
        <div class="head" onclick="m_pop_close(3)">
            <i class="fas fa-times" style="font-size: 25px; margin-top: 3px; display: inline-block;"></i>
        </div>
        <div class="car_img">
            <img src="./assets/images/8567911670.png">
        </div>
        <div class="car_info">
            <ul class="con_box">
                <li class="text">
                    <p class="tt">벤츠 출고</p>

                    <p class="ss" style="margin-top: 4px;">서+웅 고객님 | 2022-07-05 | 벤츠</p>


                    <p class="ss" style="font-size : 17px; height : 40px; line-height : 40px;"><span><i
                                class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                class="fas fa-star"></i><i class="fas fa-star"></i></span> 5.0</p>

                    <div class="ts">요즘 금리가 비싼데 에이원오토에 문의하니<br>최저금리로 진행해주시고 견적비교도 한눈에 쉽게해주시니까 좋네요<br>견적은 다른곳에서도
                        받아봤지만<br>신경도 잘 써주시고 금리도 제일 저렴한곳으로 추천해주셔서 진행했습니다.<br>벤츠차 출고 많은편이라 하셨었는데<br>그래서 그런지 차량도 빨리
                        받았고요<br>잘 타겠습니다.</div>

                </li>
            </ul>
        </div>
    </div>
</div>

<div class="real_pop_m m_rp_4">
    <div>
        <div class="head" onclick="m_pop_close(4)">
            <i class="fas fa-times" style="font-size: 25px; margin-top: 3px; display: inline-block;"></i>
        </div>
        <div class="car_img">
            <img src="./assets/images/2031667004.jpg">
        </div>
        <div class="car_info">
            <ul class="con_box">
                <li class="text">
                    <p class="tt">X5 출고</p>

                    <p class="ss" style="margin-top: 4px;">이*현 고객님 | 2022-06-15 | X5</p>


                    <p class="ss" style="font-size : 17px; height : 40px; line-height : 40px;"><span><i
                                class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                class="fas fa-star"></i><i class="fas fa-star"></i></span> 5.0</p>

                    <div class="ts">타고있던 차량이 곧 만기라 업체 알아보다가 우연히 에이원오토 알게되어서 견적요청 드렸는데 일사천리로 차량 찾아주시고 출고일자도 맞춰주셔서
                        편하네요&nbsp;<br>요즘 차량 귀한데 빨리 받아서 좋고 할인도 많이 해주신 거 같아서 너무 감사합니다^^</div>

                </li>
            </ul>
        </div>
    </div>
</div>

<div class="real_pop_m m_rp_5">
    <div>
        <div class="head" onclick="m_pop_close(5)">
            <i class="fas fa-times" style="font-size: 25px; margin-top: 3px; display: inline-block;"></i>
        </div>
        <div class="car_img">
            <img src="./assets/images/3899874831.jpg">
        </div>
        <div class="car_info">
            <ul class="con_box">
                <li class="text">
                    <p class="tt">제네시스 출고</p>

                    <p class="ss" style="margin-top: 4px;">안*규 고객님 | 2022-06-11 | 제네시스 </p>


                    <p class="ss" style="font-size : 17px; height : 40px; line-height : 40px;"><span><i
                                class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                class="fas fa-star"></i><i class="fas fa-star"></i></span> 5.0</p>

                    <div class="ts">
                        <p>에이원오토에 상담받기 전에 정말 비교 많이해봤어요.<br>보증금을 최소화하고싶었는데 제가 원하는 가격으로 최대한 맞춰주셨습니다.<br>다른업체들보다 친절하고
                            전문적으로 상담도 해주시고<br>제 상황에 맞춰서 끝까지 신경써주셔서 잘 출고할 수 있었습니다.<br>장기렌트리스 이쪽으로 노하우가 많은게 느껴졌습니다.
                            너무만족합니다.</p>
                    </div>

                </li>
            </ul>
        </div>
    </div>
</div>

<div class="real_pop_m m_rp_6">
    <div>
        <div class="head" onclick="m_pop_close(6)">
            <i class="fas fa-times" style="font-size: 25px; margin-top: 3px; display: inline-block;"></i>
        </div>
        <div class="car_img">
            <img src="./assets/images/768402372.jpg">
        </div>
        <div class="car_info">
            <ul class="con_box">
                <li class="text">
                    <p class="tt">제네시스 출고</p>

                    <p class="ss" style="margin-top: 4px;">심*민 고객님 | 2022-06-10 | 제네시스</p>


                    <p class="ss" style="font-size : 17px; height : 40px; line-height : 40px;"><span><i
                                class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                class="fas fa-star"></i><i class="fas fa-star"></i></span> 5.0</p>

                    <div class="ts">차량 인도 잘 받았습니다 ^^&nbsp;<br>담당해주신 원인재과장님이 믿음이 많이가서 진행했습니다<br>가격도 잘 맞춰주시고 서비스도 잘
                        챙겨주셔서 감사합니다<br>주변에 차량사는사람들 있으면 소개하겠습니다</div>

                </li>
            </ul>
        </div>
    </div>
</div>

<div class="real_pop_m m_rp_7">
    <div>
        <div class="head" onclick="m_pop_close(7)">
            <i class="fas fa-times" style="font-size: 25px; margin-top: 3px; display: inline-block;"></i>
        </div>
        <div class="car_img">
            <img src="./assets/images/2169721182.jpg">
        </div>
        <div class="car_info">
            <ul class="con_box">
                <li class="text">
                    <p class="tt">쏘렌토 출고</p>

                    <p class="ss" style="margin-top: 4px;">임*평 고객님 | 2022-06-08 | 쏘렌토</p>


                    <p class="ss" style="font-size : 17px; height : 40px; line-height : 40px;"><span><i
                                class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                class="fas fa-star"></i><i class="fas fa-star"></i></span> 5.0</p>

                    <div class="ts">
                        <p>안녕하세요 이번에 안동에서 쏘렌토HEV 리스출고해서 후기 남깁니다~<br>인터넷으로 검색해서 제가 한 15곳정도 문의한거같은데 에이원오토가 제일 저렴하고
                            견적서도 투명하게 오픈까지 해주셔서 믿고 진행했습니다.<br>워낙 여러곳에 물어본터라 제가 초반에 좀 깐깐하게 굴기도 했는데 워낙 친절하게
                            상담해주시고<br>연락드리면 피드백도 빨리주셔서 좋았습니다~!<br>계약했으니 사후관리도 계약때처럼 신경써주시면 좋겠네요~<br>감사합니다.</p>
                    </div>

                </li>
            </ul>
        </div>
    </div>
</div>

<div class="real_pop_m m_rp_8">
    <div>
        <div class="head" onclick="m_pop_close(8)">
            <i class="fas fa-times" style="font-size: 25px; margin-top: 3px; display: inline-block;"></i>
        </div>
        <div class="car_img">
            <img src="./assets/images/4038152550.png">
        </div>
        <div class="car_info">
            <ul class="con_box">
                <li class="text">
                    <p class="tt">벤츠 BMW 제네시스 출고</p>

                    <p class="ss" style="margin-top: 4px;">김*수 고객님 | 2022-06-02 | 벤츠 BMW 제네시스</p>


                    <p class="ss" style="font-size : 17px; height : 40px; line-height : 40px;"><span><i
                                class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                class="fas fa-star"></i><i class="fas fa-star"></i></span> 5.0</p>

                    <div class="ts">사업자리스로 에이원오토에서 3대 한꺼번에 계약해서 어제출고했네요<br>요즘 차가없어서 원하는 옵션이랑 색깔 맞추기 어려웟을텐데<br>계속
                        카톡하면서 찾아준 김주호팀장님 고맙습니다~<br>서비스도 잘넣어주시고 차 찾으러갔는데 가게앞에 세대 주차되어있는거보고 한컷찍었습니다~<br>잘타겠습니다~고맙습니다~
                    </div>

                </li>
            </ul>
        </div>
    </div>
</div>

<div class="real_pop_m m_rp_9">
    <div>
        <div class="head" onclick="m_pop_close(9)">
            <i class="fas fa-times" style="font-size: 25px; margin-top: 3px; display: inline-block;"></i>
        </div>
        <div class="car_img">
            <img src="./assets/images/4942449280.jpg">
        </div>
        <div class="car_info">
            <ul class="con_box">
                <li class="text">
                    <p class="tt">BMW 5시리즈 출고</p>

                    <p class="ss" style="margin-top: 4px;">박*원 고객님 | 2022-05-31 | BMW 5시리즈</p>


                    <p class="ss" style="font-size : 17px; height : 40px; line-height : 40px;"><span><i
                                class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                class="fas fa-star"></i><i class="fas fa-star"></i></span> 5.0</p>

                    <div class="ts">
                        <p>리스로 계약해서 차량 받았습니다.<br>제 차라고 생각해서 그런지 몰라도 너무 멋지네요<br>차량용품도 빵빵하게 챙겨주시고 감사합니다.<br>지인 소개할일
                            있으면 또연락드리겠습니다.<br>&nbsp;</p>
                    </div>

                </li>
            </ul>
        </div>
    </div>
</div>





<script>
    function pop_open(n) {
        var close = document.getElementsByClassName("rp_" + n);
        close[0].className = "real_pop rp_visible rp_" + n;
    }
    function pop_close(n) {
        var close = document.getElementsByClassName("rp_" + n);
        close[0].className = "real_pop rp_" + n;
    }
    function m_pop_open(n) {
        var close = document.getElementsByClassName("m_rp_" + n);
        close[0].className = "real_pop_m m_rp_visible m_rp_" + n;
    }
    function m_pop_close(n) {
        var close = document.getElementsByClassName("m_rp_" + n);
        close[0].className = "real_pop_m m_rp_" + n;
    }
</script>












<script>

    $(".customClose").click(function () {
        $(".m_form_wrap").css({ 'bottom': '-100%', 'transition': 'all .7s ease-in-out' });
    });

    $(".btn_inqury_quick_m li > img").click(function () {
        $(".m_form_wrap").css({ 'bottom': '60px', 'transition': 'all .7s ease-in-out' });
    });

    function formUpdate() {
        var windowWidth = $(window).width();

        if (windowWidth <= 900) {
            $(".top_slideForm").hide();
            $(".m_form_wrap").show();
        } else {
            $(".m_form_wrap").hide();
            $(".top_slideForm").show();
        }
    }

    $(function () {

        formUpdate();
    });

    $(window).resize(function () {
        formUpdate();
    });
    function form_chk() {

        if (!jquery_spacexf($(".top_slideForm input:input[name='write_name']"))) {
            alert("이름을 입력하세요");
            $(".top_slideForm input:input[name='write_name']").val("");
            $(".top_slideForm input:input[name='write_name']").focus();
            return;
        }

        if (!jquery_spacexf($(".top_slideForm input:input[name='tel']"))) {
            alert("휴대폰번호를  입력하세요");
            $(".top_slideForm input:input[name='tel']").val("");
            $(".top_slideForm input:input[name='tel']").focus();
            return;
        }


        //var trans_num = $(".tel").val();
        var all_num = $(".top_slideForm #tel").val();
        var trans_num = $(".top_slideForm .tel").val().replace(/-/g, "");
        trans_num = all_num;
        // 입력값이 있을때만 실행합니다.
        if (trans_num != null && trans_num != '') {
            // 총 핸드폰 자리수는 11글자이거나, 10자여야 합니다.
            if (trans_num.length == 11 || trans_num.length == 10) {
                // 유효성 체크
                var regExp_ctn = /^(01[016789]{1}|02|0[3-9]{1}[0-9]{1})([0-9]{3,4})([0-9]{4})$/;
                if (regExp_ctn.test(trans_num)) {
                    // 유효성 체크에 성공하면 하이픈을 넣고 값을 바꿔줍니다.
                    //trans_num = trans_num.replace(/^(01[016789]{1}|02|0[3-9]{1}[0-9]{1})-?([0-9]{3,4})-?([0-9]{4})$/, "$1-$2-$3");
                    // $(".tel").val(trans_num);
                }
                else {
                    alert("유효하지 않은 휴대폰번호 입니다.");
                    $(".top_slideForm .tel").val("");
                    $(".top_slideForm #tel").focus();
                    return;
                }
            }
            else {
                alert("유효하지 않은 휴대폰번호 입니다.");
                $(".top_slideForm .tel").val("");
                $(".top_slideForm #tel").focus();
                return;
            }
        }
        if ($(".top_slideForm select[name='owner_gubun']").val() == "") {
            alert("유형를 선택하세요");
            $(".top_slideForm input:input[name='owner_gubun']").val("");
            $(".top_slideForm input:input[name='owner_gubun']").focus();
            return;
        }
        if ($(".top_slideForm select[name='buy_method']").val() == "") {
            alert("구매방식을 선택하세요");
            $(".top_slideForm input:input[name='buy_method']").val("");
            $(".top_slideForm input:input[name='buy_method']").focus();
            return;
        }
        if ($(".top_slideForm select[name='buy_time']").val() == "") {
            alert("구매시기를 선택하세요");
            $(".top_slideForm input:input[name='buy_time']").val("");
            $(".top_slideForm input:input[name='buy_time']").focus();
            return;
        }
        if ($(".top_slideForm select[name='brand_code']").val() == "") {
            alert("제조사를 선택하세요");
            $(".top_slideForm input:input[name='brand_code']").val("");
            $(".top_slideForm input:input[name='brand_code']").focus();
            return;
        }
        if ($(".top_slideForm select[name='model_code']").val() == "") {
            alert("모델명을 선택하세요");
            $(".top_slideForm input:input[name='model_code']").val("");
            $(".top_slideForm input:input[name='model_code']").focus();
            return;
        }

        if ($(".top_slideForm input:radio[id='privacy_y']").is(":checked") != true) {
            alert("개인정보 수집에 동의 하셔야합니다..");
            $(".top_slideForm input:checkbox[id='personal_chk']").focus();
            return;
        }
        if (confirm("예약신청하시겠습니까?") == false) {
            return;
        }
        $(".top_slideForm #flag").val("save");
        var params = $(".top_slideForm #form").serialize();
        loading(function () {
            $('.top_slideForm #form').ajaxForm({
                url: './bin/consult_save2.php',
                success: function (result) {
                    if (result.indexOf("OK") != -1) {

                        //alert("접수되었습니다.");
                        location.href = "sub7.html";
                        //$(".top_slideForm input:radio[name='owner_gubun']:radio[value='1']").prop('checked', true); 
                        //$(".top_slideForm input:radio[name='oil_kind']:radio[value='']").prop('checked', true); 
                        $("#form")[0].reset();
                    }
                },
                error: function (request, status, error) {
                    alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                }
            });

            $(".top_slideForm #form").submit();
        });


    }

    function model_load() {
        $.get(
            "./bin/consult_save2.php",
            {
                flag: "model_load",
                brand_code: $(".top_slideForm #brand_code").val()
            },
            function (data) {
                var inOption = "<option value='' selected>모델명 선택</option>";
                if (data != null) {
                    $.each(data, function (index, item) {
                        inOption += "<option value='" + index + "'>" + item + "</option>";
                    });
                }
                $(".top_slideForm #model_code").html(inOption);
            },
            "json"
        );
    }


    function mobile_form_chk() {

        if (!jquery_spacexf($(".m_form_wrap input:input[name='write_name']"))) {
            alert("이름을 입력하세요");
            $(".m_form_wrap input:input[name='write_name']").val("");
            $(".m_form_wrap input:input[name='write_name']").focus();
            return;
        }

        if (!jquery_spacexf($(".m_form_wrap input:input[name='tel']"))) {
            alert("휴대폰번호를  입력하세요");
            $(".m_form_wrap input:input[name='tel']").val("");
            $(".m_form_wrap input:input[name='tel']").focus();
            return;
        }


        //var trans_num = $(".tel").val();
        var all_num = $(".m_form_wrap #tel").val();
        // var trans_num	=	$(".m_form_wrap .tel").val().replace(/-/g,"");	
        // trans_num = all_num;
        // // 입력값이 있을때만 실행합니다.
        // if(trans_num != null && trans_num != '')
        // {
        // 	// 총 핸드폰 자리수는 11글자이거나, 10자여야 합니다.
        // 	if(trans_num.length==11 || trans_num.length==10)
        // 	{
        // 		// 유효성 체크
        // 		var regExp_ctn = /^(01[016789]{1}|02|0[3-9]{1}[0-9]{1})([0-9]{3,4})([0-9]{4})$/;
        // 		if(regExp_ctn.test(trans_num))
        // 		{
        // 			// 유효성 체크에 성공하면 하이픈을 넣고 값을 바꿔줍니다.
        // 			//trans_num = trans_num.replace(/^(01[016789]{1}|02|0[3-9]{1}[0-9]{1})-?([0-9]{3,4})-?([0-9]{4})$/, "$1-$2-$3");
        // 			// $(".tel").val(trans_num);
        // 		}
        // 		else
        // 		{
        // 			alert("유효하지 않은 휴대폰번호 입니다.");
        // 			$(".m_form_wrap .tel").val("");
        // 			$(".m_form_wrap #tel").focus();
        // 			return;
        // 		}
        // 	}
        // 	else
        // 	{
        // 		alert("유효하지 않은 휴대폰번호 입니다.");
        // 		$(".m_form_wrap .tel").val("");
        // 		$(".m_form_wrap #tel").focus();
        // 		return;
        // 	}
        // }
        if ($(".m_form_wrap select[name='owner_gubun']").val() == "") {
            alert("유형를 선택하세요");
            $(".m_form_wrap input:input[name='owner_gubun']").val("");
            $(".m_form_wrap input:input[name='owner_gubun']").focus();
            return;
        }
        if ($(".m_form_wrap select[name='buy_method']").val() == "") {
            alert("구매방식을 선택하세요");
            $(".m_form_wrap input:input[name='buy_method']").val("");
            $(".m_form_wrap input:input[name='buy_method']").focus();
            return;
        }
        if ($(".m_form_wrap select[name='buy_time']").val() == "") {
            alert("구매시기를 선택하세요");
            $(".m_form_wrap input:input[name='buy_time']").val("");
            $(".m_form_wrap input:input[name='buy_time']").focus();
            return;
        }
        if ($(".m_form_wrap select[name='brand_code']").val() == "") {
            alert("제조사를 선택하세요");
            $(".m_form_wrap input:input[name='brand_code']").val("");
            $(".m_form_wrap input:input[name='brand_code']").focus();
            return;
        }
        if ($(".m_form_wrap select[name='model_code']").val() == "") {
            alert("모델명을 선택하세요");
            $(".m_form_wrap input:input[name='model_code']").val("");
            $(".m_form_wrap input:input[name='model_code']").focus();
            return;
        }

        if ($(".m_form_wrap input:radio[id='m_privacy_y']").is(":checked") != true) {
            alert("개인정보 수집에 동의 하셔야합니다..");
            $(".m_form_wrap input:checkbox[id='personal_chk']").focus();
            return;
        }
        if (confirm("예약신청하시겠습니까?") == false) {
            return;
        }
        $(".m_form_wrap #flag").val("save");
        var params = $(".m_form_wrap #form").serialize();
        loading(function () {
            $('.m_form_wrap #form').ajaxForm({
                url: './bin/m_consult_save2.php',
                success: function (result) {
                    if (result.indexOf("OK") != -1) {

                        //alert("접수되었습니다.");
                        location.href = "sub7.html";
                        //$(".m_form_wrap input:radio[name='owner_gubun']:radio[value='1']").prop('checked', true); 
                        //$(".m_form_wrap input:radio[name='oil_kind']:radio[value='']").prop('checked', true); 
                        $("#form")[0].reset();
                    }
                },
                error: function (request, status, error) {
                    alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                }
            });

            $(".m_form_wrap #form").submit();
        });


    }

    function mobile_model_load() {
        $.get(
            "./bin/consult_save2.php",
            {
                flag: "model_load",
                brand_code: $(".m_form_wrap #brand_code").val()
            },
            function (data) {
                var inOption = "<option value='' selected>모델명 선택</option>";
                if (data != null) {
                    $.each(data, function (index, item) {
                        inOption += "<option value='" + index + "'>" + item + "</option>";
                    });
                }
                $(".m_form_wrap #model_code").html(inOption);
            },
            "json"
        );
    }



    // loading
    function loading(fnc) {
        $("#loadingWrap").fadeIn(350, fnc);
    }

    function loadingClose() {
        $("#loadingWrap").fadeOut(350);
    }
    $('.popup-trigger1').click(function (e) {
        e.preventDefault();
        var height = $(window).height() - 200;
        $('.privacy-policy1').find(".policy").css("max-height", height).end().show();
    });
    $('.popup-trigger2').click(function (e) {
        e.preventDefault();
        var height = $(window).height() - 200;
        $('.privacy-policy2').find(".policy").css("max-height", height).end().show();
    });
    $('.privacy-policy').on('click', function () {
        $('.privacy-policy').hide();
    });

    $(".tel").on('keyup keydown keypress', function () {
        var regex = /^[0-9]/g;
        var v = $(this).val();
        // console.log(regex.test(v));
        if (regex.test(v) == false) {
            // console.log($(this).val());
            var str = $(this).val().replace(/[^\d]+/g, "");

            $(this).val(str);
        }

        if (parseInt($(this).attr('maxlength')) == v.length) {
            $(this).next().next().focus();
        }

    });
    $('.fr_name').focus(function () {
        document.getElementsByClassName('form_in_ul')[0].className = 'form_in_ul t_ul';
    });
    $('.fr_name').blur(function () {
        document.getElementsByClassName('form_in_ul')[0].className = 'form_in_ul';
    });
    $('.fr_num').focus(function () {
        document.getElementsByClassName('form_in_ul')[0].className = 'form_in_ul t_ul';
    });
    $('.fr_num').blur(function () {
        document.getElementsByClassName('form_in_ul')[0].className = 'form_in_ul';
    });
</script>
</div>
</html>