<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- 스타일 -->
    <link rel="stylesheet" type="text/css" href="/assets/css/html5_reset.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/board.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/layout.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/utill.css">

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/jquery-latest.min.js"></script>
    <script src="/assets/js/jquery.bxslider.js"></script>
    <script src="/assets/js/jquery.tabify.js"></script>
    <script src="/assets/js/script.js"></script>
    <!-- script -->

</head>

<body class="has-js" style="">
    <th:block th:replace="fragments/header :: headerFragment"></th:block>

    <div class="sub_top sub_top1">
        <div class="ment">
            <h2>Car Brand</h2>
            <p>A1 auto</p>
        </div>
    </div>

    <div class="container">
        <a href="tel:1899-5875" class="btn_inqury_quick1"><img src="/assets/images/Q_menu.png" alt="빠른견적문의"></a>
        <a href="sub6.html" class="btn_inqury_quick"><img src="/assets/images/btn_inqury_m.png" alt="빠른견적문의"></a>
        <div class="sub_cont sub_1_1">
            <h3 class="tit_sub">Car Brand <p>고객님의 차에 대한 열정을 담아 "가장 완벽한 견적"을 제안하다.</p>
            </h3>
            <div class="icon_line"><strong><img src="/assets/images/icon_car_tit.jpg" alt=""></strong></div>

            <div class="list_car_brand2">
                <ul>
                    <li>
                        <a href="/carbrand/car?car=g90">
                            <div class="img"><img src="/_upload/car_img/8834573104.png" alt="" /></div>
                            <div class="ment">
                                <p class="name">신형 G90<br>복합연비 8.5~9.3 ㎞/ℓ</p>
                                <p class="txt1">대형</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="sub3.html?idx=69&curpage=1&srh_brand=1">
                            <div class="img"><img src="/_upload/car_img/5822545681.png" alt="" /></div>
                            <div class="ment">
                                <p class="name">제네시스 더 올뉴G80<br>8.4km/ℓ~14.6km/ℓ</p>
                                <p class="txt1">올-뉴 G80 준대형</p>
                            </div>
                        </a>
                    </li>
                    <li class="new">
                        <a href="sub3.html?idx=294&curpage=1&srh_brand=1">
                            <div class="img"><img src="/_upload/car_img/5805918048.png" alt="" /></div>
                            <div class="ment">
                                <p class="name">제네시스 더 뉴 G70<br>8.9km/ℓ~14.9km/ℓ </p>
                                <p class="txt1">중형차</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
        <!-- //sub_cont -->
    </div>
    <!-- //container -->
    <th:block th:replace="fragments/footer :: footerFragment"></th:block>
</body>

</html>