<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- 스타일 -->
    <link rel="stylesheet" type="text/css" href="/assets/css/html5_reset.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/board.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/layout.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/utill.css">

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/jquery-latest.min.js"></script>
    <script src="/assets/js/jquery.bxslider.js"></script>
    <script src="/assets/js/jquery.tabify.js"></script>
    <script src="/assets/js/script.js"></script>
    <!-- script -->

</head>

<body class="has-js" style="">
    <th:block th:replace="fragments/header :: headerFragment"></th:block>

    <div class="sub_top sub_top1">
        <div class="ment">
            <h2>Car Brand</h2>
            <p>A1 auto</p>
        </div>
    </div>

    <div class="container">
        <!-- //sub_cont -->
    </div>
    <!-- //container -->
    <th:block th:replace="fragments/footer :: footerFragment"></th:block>
</body>

</html>